<!DOCTYPE html>
<html>
<head>
  <title>AngularRails</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

    <!-- / bootstrap [required] -->
    <%= stylesheet_link_tag  "bootstrap", media: "all" %>
    <!-- / theme file [required] -->
    <%= stylesheet_link_tag  "flatty/light-theme", media: "all" %>
    <!--[if lt IE 9]>
      <script src="assets/javascripts/ie/html5shiv.js" type="text/javascript"></script>
      <script src="assets/javascripts/ie/respond.min.js" type="text/javascript"></script>
    <![endif]-->
</head>
<body ng-app="AngularRails">
<div class="page-container">
    <div class="page-content-wrapper">
    <%= render partial: "layouts/header" %>
    <div id='wrapper'>
      <%= render partial: "layouts/nav" %>
	</div>
      <!-- CONTENT -->
<div ng-view>
        <%= yield %>
      </div>      
<!-- END CONTENT -->
</div>
</div>
</body>
</html>
